include ./templates/head.pug

body
    .contenedor-centrador
        .contenedor-carta-vista(style=`background-color: #${carta.color};`)
            h1.titulo-carta-vista= carta.titulo
            .contenedor-contenido-vista
                p.contenido-carta-vista= carta.contenido
            .contenedor-acciones-bottom
                .contenedor-opciones-carta
                    a.btn-carta(href=`/materia/${carta.contenedor}`): img(src="/assets/svg/btn-atras.svg", alt="Bot칩n de atr치s")
                    a.btn-carta(href=`/editar-carta/${carta.id}`): img(src="/assets/svg/btn-edit.svg", alt="Bot칩n de editar")
                    a.btn-carta(href=`/eliminar-carta/${carta.id}`): img(src="/assets/svg/btn-equis.svg", alt="Bot칩n de borrar")
                if( carta.link )
                    a.link-carta-vista(href=`${carta.link}`, target="_blank") mas info...

    script(src="/js/carta.js" type="module")