include ./templates/head.pug
include ./templates/header.pug

.contenedor
    .contenedor-campo
        h3.titulo-contenedor Editar materia
        form.formulario-nuevo(action=`/materia/${datos.id}` method="PUT")
            input(type="text" placeholder="Materia: " name="materia" required autocomplete="off" value=`${datos.materia}` ) 
            input(type="text" placeholder="Prof (opcional)" name="prof" autocomplete="off" value=`${datos.prof}`)
            input(type="hidden" name="id" value=`${datos.id}`)
            input.input-logo#logo(type="text" placeholder="logo" name="logo" required autocomplete="off" value=`${datos.logo}`)
            .caja-inferior
                select#seleccionador-color(name="color" required)
                    option(selected value=`${datos.color}`) Color
                    each color in colores
                        option(value=`${color}` name="color")= color
                input#enviar(type="submit" value="Editar")

script(src="/js/editar-materia.js")